@{
    ViewData["Title"] = "Home Page";
}

@using Stormpath.SDK.Application
@inject IApplication stormpathApplication

<div class="panel panel-default home-panel">
    <span>You are logged in WebAppSSOSample1!</span>
</div>
<a class="btn btn-default btn-lg btn-primary pull-right" href="@stormpathApplication.NewIdSiteUrlBuilder().SetCallbackUri("http://localhost:58119/").Build()">
    Go to WebAppSSOSample2
</a>
